.cart {
    background-color: $fourth-color;
    max-width: 250px;
    padding: 5px;
    display: flex;
    cursor: pointer;
    margin: 20px 12px 0px;
    transition: 0.2s all ease-in;

    &:hover {
        -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.75);
    }

    &__body {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-basis: 100%;
        font-size: 14px;
    }

    &__bell-wrapper {
        display: flex;
        justify-content: flex-end;
        margin: 10px 10px;
    }

    &__bell {
        color: $secondary-color;
        font-size:20px;
    }


    &__image-wrapper {
        height: 180px;
        width: 180px;
        overflow: hidden;
        border-radius: 50%;
        margin: -20px auto 10px;
    }

    &__image {
        margin-left: -70px;
    }

    &__important-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 10px;
        border-bottom: 1px solid $sixth-color;

        div:first-child {
            margin-right: 10px;
        }
    }

    &__star {
        color: $third-color;
    }

    &__score {
        font-weight: bold;
    }

    &__info {
        padding: 10px 0px 15px;
        display: flex;
        justify-content: space-between;

        .fa-map-marker {
            font-size: 16px;
        }
    }

    &__specialization {
        display: flex;
        flex-wrap: wrap;
    }

    &__department {
        border-radius: 10px;
        background-color: $primary-color;
        color: $fourth-color;
        font-weight: 100;
        padding: 2px 4px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
}