.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main {
    display: flex;
    flex-grow: 1;
    background-color: #F3F3F3;
    padding: 30px 0px;

    &__container {
        margin: 0 auto;
        width: 100%;

        @media(min-width: 900px) {
            max-width: 640px;
            margin: 0;
        }

        @media(min-width: 1010px) {
            max-width: 742px;
        }

        @media(min-width: 1210px) {
            max-width: 950px;
        }

        @media(min-width: 1360px) {
            max-width: 1100px;
        }

    }

    &__navigation {
        display: flex;
        border-bottom: 1px solid #CDD6DC;
        padding: 10px 20px;
    }

    &__carts {
        display: flex;
        flex-wrap: wrap;

        @media(min-width: 320px) and (max-width:768px) {
            justify-content: center;
        }
    }
}